{% extends "CookBook/layout/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container">
        <h1>Сбросьте пароль</h1>
        {% if validlink %}
            <p>Пожалуйста, введите пароль дважды:</p>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password"/></p>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась.
                Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %}
    </div>
{% endblock %}