{% extends 'CookBook/layout/base.html' %}
{#{% load crispy_forms_tags %}#}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Сбросить пароль</h4>
            <form method="post" action="{% url 'CookBook:password_reset_done' %}">
{#                {% csrf_token %}#}
{#                <input type="hidden" name="next" value="{{ next }}">#}
{#                {{ form|crispy }}#}
{#                <button type="submit" class="btn btn-primary btn-block">Reset</button>#}

                {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% buttons submit='Войти' %}{% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}